REACT_APP_CLIENT_ID=<<to be filled>>
REACT_APP_CLIENT_SECRET=<<to be filled>>
REACT_APP_REDIRECT_URI=https://localhost/api/v1/oauth/google
REACT_APP_TRANSMIT_PROTOCOL=https
REACT_APP_HOST_NAME=localhost